[submodule "actividades"]
	path = actividades
	url = https://github.com/Designedby-Radol/actividadesJ1.git
[submodule "actividadesJ1"]
	path = actividadesJ1
	url = https://github.com/Designedby-Radol/actividadesJ1.git
